@import url(../../config/colors.css);

.dropdown{
    position: relative;
    padding: 0.5rem;
    text-align: left;
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
    border-radius: 0.2rem;
    flex-wrap: wrap;
    width: 12rem;
    cursor: pointer;
    background-color: var(--serch-white-bg);
    box-shadow: var(--serch-box-shadow);
    transition: all .8s ease-out;
}

.close{
    padding: 0.5rem 1rem;
    display: flex;
}

.open{
    overflow: auto;
    height: auto;
    width: 13rem;
}

.menuLink{
    color: var(--serch-black-bg);
    font-size: 0.95rem;
    padding: 0.5rem 0rem;
    display: block;
    font-weight: 650;
}

.menuArrow{
    padding: 0.6rem 0rem;
    margin-right: 0.5rem;
}

.menuOpen{
    opacity: 0;
}

.DropDown{
    position: absolute;
    padding: 0rem 0.2rem;
    text-align: left;
    align-items: flex-start;
    right: 1vw;
    top: 1.5vh;
    justify-content: space-evenly;
    display: flex;
    border-radius: 0rem;
    flex-wrap: wrap;
    width: 11rem;
    cursor: pointer;
    background-color: var(--serch-white-bg);
    box-shadow: var(--serch-box-shadow);
    transition: all .8s ease-out;
}

.closeDrop{
    padding: 0rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.openDrop{
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    right: 0vw;
    top: 0vh;
}

.openDrop img{
    margin-left: 1rem;
    padding-bottom: 5rem;
}