@import url(../../config/colors.css);

.footer {
    background-color: var(--serch-bg-color);
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.greeting{
    color: var(--serch-white-bg);
    padding: 1rem;
    font-size: 18px;
}

.footer .logo img {
    box-shadow: 0.2rem 0.2rem var(--serch-logo-shadow);
    width: 150px;
    border-radius: 1rem;
}

.footerlist {
    display: flex;
}

.footer a {
    color: var(--serch-light-link);
    margin: 1rem 0rem;
    font-size: 14px;
    font-weight: 500;
}

.footer a:hover {
    color: var(--serch-link-hover);
}

.footer h2, .footer p {
    color: var(--serch-light-textTwo);
}

.footerlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company, .product, .support, .pricing {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0rem 1rem;
}

.socialmedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialmedia img {
    width: 30px;
    height: 30px;
    padding: 0.2rem;
    margin: 0rem 0.2rem;
}

.app{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app img {
    width: 200px;
    height: 70px;
    padding: 0.2rem;
    margin: 0rem 0.2rem;
}

.footerbottom {
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.policy a {
    color: var(--serch-light-textTwo);
    margin: 1rem;
}

.bottom {
    margin-top: 0.8rem;
}

.pageLink{
    width: -moz-fit-content;
    width: fit-content;
}