@import url(../../config/colors.css);
@import url(./dropdown.css);

.notFound{
    width: 100%;
    padding: 2rem 6rem;
}

.notFound p{
    text-align: justify;
    font-weight: 500;
}

.notFound h1{
    padding: 1rem 0rem;
}

@media screen and (max-width:768px) {
    .notFound{
        width: 100%;
        padding: 2rem 3rem;
    }
}