@import url(../../config/colors.css);

.shimmer{
    width: 100%;
    padding: 2rem;
}

.shimmerContainer{
    position: relative;
    overflow: hidden;
}

.shimmerBox{
    background: linear-gradient(
        to right, var(--serch-link-hover) 0%,
        var(--serch-lighter) 20%, #fafafa 40%,
        var(--serch-lighter) 60%,
        var(--serch-lighter) 80%,
        var(--serch-link-hover) 100%
    );
    background-size: 800%;
    animation: shimmer 2s ease-in-out infinite;
    /* position: absolute;
    top: 5;
    left: 0; */
    width: 100%;
}

@keyframes shimmer {
    0%{
        background-position: -200px 0;
    }

    100%{
        background-position: 200px 0;
    }
}