.download-user-app-download-user-app {
    gap: var(--dl-space-space-fiveunits);
    flex: 1;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.download-user-app-content {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    position: relative;
    align-items: flex-start;
    border-radius: 24px;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dl-color-gray-black);
}

.download-user-app-header {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.download-user-app-heading {
    font-size: 30px;
    text-align: left;
}

.download-user-app-buttons {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.download-user-app-ios {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    flex-direction: row;
    background-color: #0F0F0F;
}

.download-user-app-icon {
    width: 16px;
    object-fit: cover;
}

.download-user-app-text {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
}

.download-user-app-android {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    flex-direction: row;
    background-color: #0F0F0F;
}

.download-user-app-image {
    top: -58px;
    right: 16px;
    width: 333px;
    height: 314px;
    position: absolute;
    object-fit: cover;
}

.download-provider-app-image {
    top: -77px;
    right: 85px;
    width: 262px;
    height: 345px;
    position: absolute;
    object-fit: cover;
}

.download-business-app-image {
    top: -61px;
    right: 53px;
    width: 236px;
    height: 312px;
    position: absolute;
    object-fit: cover;
}

@media(max-width: 991px) {
    .download-user-app-content {
        align-items: center;
        flex-direction: column;
    }

    .download-user-app-buttons {
        width: 100%;
    }

    .download-user-app-ios {
        flex: 1;
        justify-content: center;
    }

    .download-user-app-android {
        flex: 1;
        justify-content: center;
    }

    .download-user-app-image, .download-provider-app-image, .download-business-app-image {
        position: static;
    }
}

@media(max-width: 767px) {
    .download-user-app-download-user-app {
        padding-top: var(--dl-space-space-fourunits);
    }

    .download-user-app-header {
        padding-bottom: var(--dl-space-space-fiveunits);
    }

    .download-user-app-buttons {
        flex-direction: column;
    }

    .download-user-app-ios {
        flex: 0 0 auto;
        width: 100%;
    }

    .download-user-app-heading {
        font-size: 24px;
    }

    .download-user-app-android {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media(max-width: 480px) {
    .download-user-app-image, .download-provider-app-image, .download-business-app-image {
        width: 100%;
        height: 100%;
    }

    .download-user-app-heading {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .download-user-app-content {
        padding: 30px;
    }
}