.item-link {
    margin-bottom: 20px;
    width: 100%
}

.item-item {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    transition: 0.3s;
    align-items: center;
    padding: 2px;
    border-color: var(--dl-color-gray-700);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    cursor: pointer;
}

.item-item:hover {
    border-color: var(--dl-color-gray-black);
    border-bottom-width: 3px;
}

.item-item-container {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

.item-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.item-text {
    font-size: 18px;
}

.item-icon {
    width: 28px;
    height: 28px;
}

@media screen and (max-width:600px) {
    .item-image {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }

    .item-text {
        font-size: 16px;
    }

    .item-icon {
        width: 20px;
        height: 20px;
    }
}