:root{
    --serch-bg-color: #030001;

    --serch-white-bg: #fafafa;
    --serch-black-bg: #030001;
    --serch-lighter: #eeeeee;

    --serch-light-purple: #6C0062;
    --serch-dark-theme: #07070A;
    --serch-dark-purple: #3F0F36;

    --serch-light-link: #ffffff;
    --serch-link-hover: #bdbdbd;
    --serch-boxBlue-border: #0A7CFF;

    --serch-yellow: #FFC000;
    --serch-green: #70AD47;
    --serch-blue: #5B9BD5;
    --serch-red: #FF0000;

    --serch-box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px 0px;
    --serch-box-shadow-two: rgba(233, 233, 233, 0.16) 0px 2px 6px 0px;

    --serch-light-text: #ffffff;
    --serch-light-textTwo: #bdbdbd;
    --serch-light-p: #c4c4c4;
    --serch-light-strong: #006da4;

    --serch-button-color: #fefefe;
    --serch-border-bottom: #000000;

    --serch-logo-shadow: #090909;

    --serch-aries-color: #b80000;
    --serch-libra-color: #b8006b;
    --serch-aqua-color: #0009b8;
    --serch-virgo-color: #2c0f0c;
}

:root{
    --delay: 0s;
}