.navbar-interactive-container {
    display: flex;
    position: relative;
    width: 100%;
}

.navbar-interactive-navbar-interactive {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
}

.navbar-interactive-link {
    display: contents;
}

.navbar-interactive-image {
    height: 40px;
    text-decoration: none;
}

.navbar-interactive-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.navbar-interactive-nav-content {
    gap: var(--dl-space-space-threeunits);
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar-interactive-nav-links {
    gap: var(--dl-space-space-threeunits);
    display: flex;
    align-items: center;
    border-color: transparent;
    justify-content: center;
}

.navbar-interactive-link1 {
    transition: 0.3s;
}

.navbar-interactive-text {
    color: rgba(255, 255, 255, 1);
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
}

.navbar-interactive-burger-menu {
    display: none;
}

.navbar-interactive-image2 {
    width: 200px;
    object-fit: cover;
}

.navbar-interactive-mobile-menu {
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 32px;
    z-index: 100;
    position: absolute;
    transition: 0.5s;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    overflow: auto;
}

.navbar-interactive-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.navbar-interactive-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.navbar-interactive-logo {
    height: 2rem;
}

.navbar-interactive-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-interactive-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.navbar-interactive-links {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.navbar-interactive-text1 {
    text-decoration: none;
}

.navbar-interactive-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-start;
}

.navbar-interactive-nav-links1 {
    gap: var(--dl-space-space-threeunits);
    display: flex;
    align-items: center;
    border-color: transparent;
    justify-content: center;
}

.navbar-interactive-text6 {
    color: rgba(255, 255, 255, 1);
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
}

.navbar-interactive-buttons {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-interactive-ios {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    flex-direction: row;
    background-color: #0F0F0F;
}

.navbar-interactive-icon2 {
    width: 16px;
    object-fit: cover;
}

.navbar-interactive-text7 {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
}

.navbar-interactive-android {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    flex-direction: row;
    background-color: #0F0F0F;
}

.navbar-interactive-icon3 {
    width: 16px;
    object-fit: cover;
}

.navbar-interactive-text8 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
}

@media(max-width: 991px) {
    .navbar-interactive-image {
        height: 60px;
    }

    .navbar-interactive-ios {
        flex: 1;
        justify-content: center;
    }

    .navbar-interactive-android {
        flex: 1;
        justify-content: center;
    }
}

@media(max-width: 767px) {
    .navbar-interactive-navbar-interactive {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .navbar-interactive-desktop-menu {
        display: none;
    }

    .navbar-interactive-nav-links {
        display: none;
    }

    .navbar-interactive-get-started {
        display: none;
    }

    .navbar-interactive-hamburger {
        display: flex;
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }

    .navbar-interactive-image1 {
        width: 16px;
        height: 14px;
    }

    .navbar-interactive-burger-menu {
        display: flex;
        padding: var(--dl-space-space-unit);
        align-items: center;
        padding-top: 0px;
        padding-left: 0px;
        border-radius: var(--dl-radius-radius-round);
        padding-right: 0px;
        flex-direction: column;
        padding-bottom: 0px;
        justify-content: center;
    }

    .navbar-interactive-image2 {
        width: var(--dl-size-size-xsmall);
        height: 14px;
    }

    .navbar-interactive-mobile-menu {
        background-color: #2a2a2a;
    }

    .navbar-interactive-icon {
        fill: var(--dl-color-gray-white);
    }

    .navbar-interactive-container1 {
        align-items: center;
        justify-content: space-between;
    }

    .navbar-interactive-link2 {
        color: var(--dl-color-gray-700);
    }

    .navbar-interactive-link3 {
        color: var(--dl-color-gray-700);
    }

    .navbar-interactive-get-started1 {
        background-color: var(--dl-color-gray-black);
    }

    .navbar-interactive-ios {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: var(--dl-space-space-twounits);
    }

    .navbar-interactive-android {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media(max-width: 479px) {
    .navbar-interactive-image {
        height: 40px;
    }

    .navbar-interactive-burger-menu {
        padding: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-round);
    }

    .navbar-interactive-mobile-menu {
        padding: 16px;
    }

    .navbar-interactive-container1 {
        height: auto;
        margin-top: var(--dl-space-space-threeunits);
        align-items: center;
        margin-bottom: var(--dl-space-space-threeunits);
        justify-content: space-between;
    }

    .navbar-interactive-nav-links1 {
        display: flex;
    }

    .navbar-interactive-link2 {
        color: var(--dl-color-gray-700);
    }

    .navbar-interactive-link3 {
        color: var(--dl-color-gray-700);
    }

    .navbar-interactive-get-started1 {
        display: flex;
        background-color: var(--dl-color-gray-black);
    }
}