@import url(../config/colors.css);

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: var(--serch-white-bg);
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

textarea{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  text-decoration: none;
  outline: 0;
  border: 0;
  padding: 0;
  list-style: none;
  appearance: none;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  font-weight: 650;
  font-size: 1rem;
  color: var(--serch-black-bg);
}

h1{
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--serch-black-bg);
}

h2{
  font-size: 1.4rem;
  color: var(--serch-black-bg);
}

h3{
  font-size: 1rem;
  color: var(--serch-black-bg);
}

h4{
  font-size: 0.8rem;
  color: var(--serch-black-bg);
}

h5{
  font-size: 0.77rem;
  color: var(--serch-black-bg);
}

small{
  font-size: 0.75rem;
  color: var(--serch-black-bg);
}

dl{
  font-size: 0.9rem;
}

dt{
  font-weight: bold;
}

p{
  font-size: 1rem;
  color: var(--serch-black-bg);
}

li{
  font-size: 0.9rem;
  color: var(--serch-black-bg);
}

button{
  padding: 1rem;
  position: relative;
  margin-top: 1rem;
  font-size: 14px;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--serch-white-bg);
  transition: all .5s;
  background-color: var(--serch-black-bg);
}

button::after{
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--serch-light-p);
  transform: scaleX(0);
  z-index: -1;
  transition: all 5s cubic-bezier(.785, .135, .15, .86);
}

button::after{
  right: 0;
  transform-origin: right;
}

button:hover::after{
  transform: scaleX(1);
}

button:hover{
  color: var(--serch-white-bg);
  transition-delay: .5s;
}

.button{
  padding: 1rem;
  position: relative;
  margin-top: 1rem;
  display: inline-block;
  background-color: var(--serch-black-bg);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--serch-white-bg);
  transition: all .5s;
}

.button::after, .button::before{
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--serch-black-bg);
  z-index: -1;
  transform: scaleX(0);
  transition: transform .5s cubic-bezier(.785, .135, .15, .86);
}

.button::before{
  left: 0;
  transform-origin: left;
}

.button::after{
  right: 0;
  transform-origin: right;
}

.button:hover::after, .button:hover::before{
  transform: scaleX(1);
}

.button:hover{
  color: var(--serch-white-bg);
  transition-delay: .5s;
}
