@import url(../config/colors.css);

.drop{
    background-color: var(--serch-button-color);
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: 0.2rem;
    cursor: pointer;
    box-shadow: var(--serch-box-shadow);
}

.downSub{
    height: 4rem;
    padding: 0.8rem;
    overflow: hidden;
}

.downSub h3{
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

.dropSub{
    height: auto;
    overflow: none;
}

.subCategory{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subCategory img{
    margin-left: 0.5rem;
}

.subSubCategory{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0rem;
    font-weight: 600;
}

.droppedSub{
    display: inline-block;
    align-items: center;
    margin: 1rem 0.5rem 1rem 0rem;
    font-weight: 600;
}

@media screen and (max-width:768px){
    .rowLink{
        font-size: 0.75rem !important;
        /* background-color: red; */
    }
}
