@import url(../config/colors.css);
#menu{
    position: relative;
    /* z-index: 999; */
}

.blur{
    filter: blur(5px);
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
}

@media screen and (min-width:768px){
    .subCategoryLinks{
        display: flex;
        width: 100%;
        padding: 0rem 1rem 0rem 1rem;
    }

    .subCategoryLinks main{
        width: 100%;
    }

    .questionsGrid{
        padding-right: 1rem;
        margin-right: 1rem;
        overflow-y: scroll;
        border-right: 2px solid var(--serch-black-bg);
    }

    /* width */
    .questionsGrid::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    /* .questionsGrid::-webkit-scrollbar-track {
        background: var(--serch-lighter);
    } */

    /* Handle */
    .questionsGrid::-webkit-scrollbar-thumb {
        background: var(--serch-dark-theme);
        border-radius: 1rem;
    }

    /* Handle on hover */
    .questionsGrid::-webkit-scrollbar-thumb:hover {
        background: var(--serch-dark-purple);
    }

    .questionsGrid::-webkit-scrollbar-thumb:hover .questionsGrid::-webkit-scrollbar {
        width: 10px;
    }

    .keyHeaderTablet{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
    }

    .questionsGrid, .answersGrid{
        padding-top: 1rem;
    }

    .answersGrid{
        width: 100%;
    }

    .answersGrid .rowLinks{
        padding-top: 1rem;
    }

    .keyHeadTablet{
        justify-content: center;
        align-items: center;
    }

    .keyHeaderMobile{
        display: none;
    }

    .headerTablet{
        background-color: var(--serch-bg-color);
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 0.9rem;
    }

    .headerMobile{
        display: none;
    }

    .mobileHeader{
        display: none;
    }
}



@media screen and (max-width:768px){
    .keyHeaderTablet, .keyHeadTablet{
        display: none;
    }

    .mobileHeader{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
    }

    .mobileRowLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        background-color: var(--serch-white-bg);
    }

    .mobileLists{
        background-color: var(--serch-lighter);
        border-radius: 0.3rem;
        padding: 0.4rem;
        align-self: center;
        margin-right: 0.5rem;
    }

    .mobileLists img{
        width: 18px;
        height: 18px;
    }

    .headerMobile{
        background-color: var(--serch-bg-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 0.9rem;
    }

    .headerTablet{
        display: none;
    }

    .questionsGrid{
        display: none;
    }

    .Menu{
        position: fixed;
        padding: 0rem 1rem;
        text-align: left;
        align-items: flex-start;
        justify-content: space-evenly;
        /* display: flex; */
        border-radius: 0rem;
        flex-wrap: wrap;
        max-width: 20rem;
        height: 92.1%;
        left: -200%;
        top: 7.9%;
        z-index: 99999;
        overflow-y: auto;
        background-color: var(--serch-white-bg);
        box-shadow: var(--serch-box-shadow);
        transition: all .5s ease;
        transition-property: left;
    }

    .openQuestion{
        left: 0;
        /* -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px); */
    }

    .arrowKeyBack{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        color: var(--serch-black-bg);
        border-bottom: 2px solid var(--serch-black-bg);
    }

    .arrowKeyBack h5{
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    .arrowKeyBack::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--serch-black-bg);
        transform: scaleX(0);
        transition: all 1s;
    }

    .arrowKeyBack::after{
        bottom: -2px;
        transform-origin: right;
    }

    /* width */
    .openQuestion::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .openQuestion::-webkit-scrollbar-track {
        background: var(--serch-lighter);
    }

    /* Handle */
    .openQuestion::-webkit-scrollbar-thumb {
        background: var(--serch-dark-theme);
        border-radius: 1rem;
    }

    /* Handle on hover */
    .openQuestion::-webkit-scrollbar-thumb:hover {
        background: var(--serch-dark-purple);
    }

    .closeQuestion{
        display: none;
    }

    .answersGrid{
        padding: 0rem 1rem;
    }

    .mobileQuestion{
        width: 100%;
        background-color: var(--serch-button-color);
        padding: 1rem;
        margin: 0.5rem 0rem;
        border-radius: 0.2rem;
        cursor: pointer;
        box-shadow: var(--serch-box-shadow);
    }

    .mobileQuestion h3{
        margin-block-start: 0.4em;
        margin-block-end: 0.4em;
    }
}