.search-result-search-result {
    gap: 10px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    padding: 13px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 5px 0px #d4d4d4;
    align-items: center;
    white-space: nowrap;
    padding-left: 13px;
    border-radius: 16px;
    text-overflow: ellipsis;
    background-color: #ffffff;
}

.search-result-search-result-image {
    width: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.search-result-search-result-content-row {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    white-space: nowrap;
}

.search-result-search-result-content {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.search-result-search-question {
    color: rgb(3, 0, 1);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.search-result-search-category {
    color: #9b9b9b;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 8px;
}

.search-result-search-section {
    color: #383838;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.search-result-search-result-icon {
    width: 24px;
    height: 24px;
}

@media(max-width: 480px) {
    .search-result-search-result-content-row {
        flex: 1;
        height: auto;
    }

    .search-result-search-result-content {
        gap: 2px;
        flex: 1;
        width: 100%;
    }

    .search-result-search-result-image {
        width: 30px;
    }

    .search-result-search-result-icon {
        width: 18px;
        height: 18px;
    }

    .search-result-search-question .search-result-search-category {
        font-size: 14px;
    }

    .search-result-search-section {
        font-size: 12px;
    }
}