.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.home-body {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.home-header {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: space-between;
}

.home-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.home-icon {
    width: 26px;
    height: 26px;
}

.home-text01 {
    width: auto;
    height: auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.home-welcome {
    gap: var(--dl-space-space-halfunit);
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
}

.home-text02 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.home-container2 {
    flex: 0 0 auto;
    width: 80%;
    height: 2px;
    display: flex;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius8);
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.home-categories-section {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-categories {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-right: 0px;
    flex-direction: row;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
}

.home-category-link {
    display: contents;
}

.home-category-image {
    fill: var(--dl-color-gray-900);
    width: 30px;
    height: 30px;
}

.home-category-text {
    font-size: 14px;
}

.home-search-view {
    width: 80%;
}

@media(max-width: 991px) {
    .home-categories-section {
        padding: 0px;
    }
}

@media(max-width: 767px) {
    .home-categories-section {
        padding: 0px;
    }

    .home-body {
        padding: 40px 20px;
    }
}

@media(max-width: 480px) {
    .home-body {
        padding-top: var(--dl-space-space-threeunits);
        padding-left: var(--dl-space-space-oneandhalfunits);
        padding-right: var(--dl-space-space-oneandhalfunits);
        padding-bottom: var(--dl-space-space-threeunits);
    }

    .home-categories-section {
        padding: 0px;
    }

    .home-search-view {
        width: 100%;
    }

    .home-text02 {
        font-size: 20px;
    }
}